#!/bin/sh
#
# yarsa cron script example file
# Copyright (C) 2013 Enrico Rossi
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# You can call this script in a crontab line like:
# 30 00 * * * test -e /path_to_this_file/yarsa_cron && /path_to_this_file/yarsa_cron

## example backup the server foo.bar
## module homes handled by rsyncd.
#SRC="foo.bar::homes"

## Or an ssh access to the same server like
#SRC="user@<foo.bar:/home/"

## example destination directory
#DEST="/mnt/backup/foo.bar/homes"

## The number of backups to keep
#BACKUPS=7

## Log filename
# You can user variables as well.
#LOG=/var/log/bck-myserver_homes.log

## Run the program
#yarsa -c $BACKUPS -f -s $SRC $DEST >$LOG 2>&1

## If you want to receive the log file via email also add:
#/usr/bin/mail user@host.com < $LOG

## Rotate the log files
#savelog -c $BACKUPS $LOG >/dev/null 2>&1

## Examples

## backup from a local filesystem.
SRC="/srv/somethingtobackup"
DEST="/media/usbdrive/somethingtobackup"
BACKUPS=10
LOG=$DEST/bck-somethingtobackup.log
yarsa -c $BACKUPS -f -s $SRC $DEST >$LOG 2>&1
#/usr/bin/mail user@host.com < $LOG
savelog -c $BACKUPS $LOG >/dev/null 2>&1

# backup a remote system foo.bar, user john's home directory.
SRC="john@foo.bar:/home/john/"
DEST="/media/usbdrive/backup"
BACKUPS=30
LOG=/var/log/bck-server_home_john.log
yarsa -c $BACKUPS -f -s $SRC $DEST >$LOG 2>&1
#/usr/bin/mail user@host.com < $LOG
savelog -c $BACKUPS $LOG >/dev/null 2>&1

